<div class="row">
  <div class="col-sm-4 col-sm-offset-4 m-auto">
    <form action="/sign-up" method="post">
      <legend>Sign Up</legend>
      <div class="form-group mb-2">
        <label for="auth-username">Username</label>
        <input type="text" name="username" class="form-control" id="auth-username" placeholder="username" />
      </div>
      <div class="form-group mb-2">
        <label for="auth-password">Password</label>
        <input type="password" name="password" class="form-control" id="auth-password" placeholder="password" />
      </div>
      <div class="text-end mb-2">
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
</div>
